button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
h1 {
  font-size: 5vw;
  }
  h3 {
    font-size: 3.5vw;
  }
  body{
    padding: 20% 2% 20% 2%;

  }
  .donate {
    position: relative;
    left: -10%;
  }
}
